@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .landing {
    @apply h-full;
    &::before {
      content: '';
      @apply absolute top-0 left-0 bg-black bg-opacity-60 h-full w-full;
    }
  }
  .card {
    @apply shadow p-5 w-full rounded;
  }
  .nav-icon {
    font-size: 22px;
    &:hover {
      @apply text-primary;
      @apply cursor-pointer;
    }
  }
  .logo {
    width: 200px;
  }
  h4 {
    @apply text-2xl;
    @apply font-bold;
  }

  a {
    @apply text-primary-dark;
    &:hover {
      @apply text-primary
    }
  }

  .form-group {
    @apply mb-3;
  }

  /* Dashboard */
  .d-nav-link {
    @apply py-4 px-5 transition hover:bg-primary hover:bg-opacity-20 w-full block rounded-md;
  }
  .d-nav-active {
    @apply bg-primary bg-opacity-20;
  }
  .d-sidebar {
    width: 250px;
  }
}
